html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* vertical | horizontal */
  --layout-padding: 0px 8%;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listStyle {
  list-style: none;
}

.linkStyle {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
}

.tutorialStep > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tutorialStep > section {
  height: 100%;
}
