.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content auto minmax(130px, max-content);
}

.main {
  padding: var(--layout-padding);
  padding-top: 15px;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.tutorialMain {
  padding: 0;
  display: flex;
}

.tutorialMain section{
  padding-top: 15px;
}

.tutorialMain nav {
  width: 150px;
  border-right: 1px solid #e5e7eb;
  margin-right: 20px;
}

.tutorialMain nav li a {
  padding-left: 20px;
  border-bottom: 2px solid #e5e7eb;
}

.footer {
  padding: var(--layout-padding);
}
