.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content auto minmax(200px, max-content);
}

.main {
  padding: var(--layout-padding);
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.tutorialMain {
  background-color: green;
  padding: 0;
  display: flex;
}

.tutorialMain nav {
  width: 130px;
  border-right: 1px solid #e5e7eb;
  background-color: azure;
}

.tutorialMain nav li a {
  padding-left: 20px;
  border: 1px solid black;
}

.footer {
  padding: var(--layout-padding);
}
